td{
    background-color: #0c131b;
    text-align: center;
}
img{
    background-color: #0c131b;
}
.img1{
    background-color: #0c131b;
    text-align: center;
}
.h1{
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    background-color: #0c131b;
}
.h2{
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    background-color: #0c131b;
}
.text1{
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
    background-color: #0c131b;
}
.span1{
    color: #e8a336;
    font-weight: bold;
    font-family: "Arial";
}
.text1_a{
    color: #fa5d26;
    font-weight: bold;
}
.h3{
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-transform: uppercase;
}
.text2{
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
    padding-bottom: 20px;
}
.button{
    background-repeat: no-repeat;
}
.h4{
    color: #9f15a9;
    font-size: 55px;
    font-weight: bold;
    font-family: "Arial";
}
.h5{
    color: #bcbcbd;
    font-family: "Arial";
    font-weight: bold;
    font-size: 30px;
}
